<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.91wangcai.alfred</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>ED3840D2-30B7-483F-AA5D-4A3F1FD527CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69073148-69BE-4BE8-9449-8AD1B7959B19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Song</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>91旺财标</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>wangcai</string>
				<key>script</key>
				<string>python wangcai.py</string>
				<key>title</key>
				<string>91旺财标列表</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED3840D2-30B7-483F-AA5D-4A3F1FD527CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>69073148-69BE-4BE8-9449-8AD1B7959B19</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>69073148-69BE-4BE8-9449-8AD1B7959B19</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ED3840D2-30B7-483F-AA5D-4A3F1FD527CE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.91wangcai.com</string>
</dict>
</plist>
